/** CSS File
** Author: arjunatlast
** File: style.css
**/
/*font: Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*Reset Defaults*/
html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', 'sans-serif';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
a:link { text-decoration: none;}
a img { border: none; }
button { cursor: pointer; }
/**/

.cover-view {
  width: 100vw;
  height: 100vh;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
}

main {

}

footer {

}

/*Buttons*/
.btn {
  border: none;
  padding: 8px 12px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 2px;
}
/**/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .hide-up-sm {
    display: none !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  *:focus { outline: none; }
  .hide-up-md {
    display: none !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .hide-up-lg {
    display: none !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .hide-up-xl {
    display: none !important;
  }
}


/*PC First*/
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .hide-down-xs {
    display: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .hide-down-sm {
    display: none !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .hide-down-md {
    display: none !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .hide-down-lg {
    display: none !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
