//Variables {
  $primaryColor: #8BC34A;
  $textColor: #1e1e1e;
//}
//datas {

//}
//maps{
  $breakpoints : (
    xs: 320px,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );
//}

//mixins{

  @mixin flex($direction) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
  }

  @mixin parallax() {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
//}

/*Buttons{*/
  .btn-round {
    border-radius: 50rem;
  }

  .btn-frame {
    @include flex(row);
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: white;
      color: $textColor;
      transform: rotate(45deg);
    }
    &:focus {
      outline: none;
    }
  }

/*}*/


header {
  background: $textColor;
  @include flex(column);

  .img-header {
    margin: auto;
    z-index: 2;
  }

  #btn-explore {
    position: absolute;
    left: calc( 50% - 25px);
    bottom: 15%;
    z-index: 2;

  }

  #btn-menu {
    position: absolute;
    left: calc( 50% - 25px);
    top: 15%;
    z-index: 2;
  }

  @media screen and (max-width: 768px) {
    #btn-explore, #btn-menu {
      &::after {
        content: attr(data-hover-title);
        position: absolute;
        color: white;
        font-size: 12px;
        font-weight: 100;
      }
    }

    #btn-menu::after { bottom: calc(100% + 8px); }
    #btn-explore::after { top: calc(100% + 8px); }
  }

  .bg-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;

    background-image: url('../images/background.jpg');
    filter: blur(5px);
    @include parallax;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }


  }

  .nav-squares {
    display: flex;
    display: -webkit-flex;
    position: absolute;
    list-style-type: none;
    z-index: 2;
    flex-direction: column;
    -webkit-flex-direction: column;
    top: 30%;
    right: 30px;

    li {
      margin: 15px;
    }

  }

  .nav-menu {
    @include flex(column);
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 30px;
    background: $textColor;
    z-index: 10;
    transition: all 0.5s ease-in-out;

    &.hidden {
      top: -105vh;
    }

    li {
      margin-left: 30px;
      padding: 16px;
      a:link, a:visited{
        font-weight: 100;
        font-size: 30px;
        color: $primaryColor;
        text-transform: uppercase;

        i.material-icons {
          padding: 2px;
          border: 1px solid $primaryColor;
          margin-right: 8px;
        }
      }
      a:active {
        color: white;
      }
    }

    .btn-close {
      position: absolute;
      top: 20px;
      padding: 8px;
      border: 1px solid $primaryColor;
      right: 20px;
      color: $primaryColor;
      &:active {
        color: white;
        border-color: white;
      }
    }

  }

  #hover-text {
    @include flex(column);
    width: 100%;
    align-items: center;
    -webkit-align-items: center;
    background: transparent;
    position: absolute;
    bottom: 20px;
    z-index: 2;
    font-size: 1.4em;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    &.hidden {
      display: none;
    }
  }

}
